
/* Main Container CSS Below */
* {
    margin: 0;
}

.appContainer {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: 0.85fr 6fr;
}

.pixelProfile {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1;
    grid-row: 1 / 4;
    background-color: white;
    border: 2px solid black;
}

.pixelProfile > img {
    height: 200px;
    width: 200px;
}

.topNav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-weight: 800;
    grid-column: 2;
    grid-row: 1;
    background-color:  #82e9ff;
    color: white;
    border: 2px solid black;
}

.sideNav {
    grid-column: 1;
    grid-row: 4 / 13;
    background-color: #82e9ff;
    border: 2px solid black;
}

.appContent {
    /* grid positioning */
    grid-column: 2;
    grid-row: 2 / 13;
    /* component properties */
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    border: 2px solid black;
}

/* Main Container CSS stops here */


.questContainer {
    height: 90%;
    width: 65%;
}

.pixelSpriteContainer {
    width: 500px;
    height: 500px;
}

.addQuestButtonContainer {
    display: flex;
    align-items: center;
    height: 10%;
}

#addQuestButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 20px;
    margin-left: 1%;
    background-color: green;
    color: white;
    font-weight: 800;
}

/* Quest Card CSS */

.questCard {
    display: flex;
    flex-direction: row;
    height: 10em;
    background: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 1);
    border-radius: 8px;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 2em;
    margin-right: 3em;
    margin-top: 1.5em;
}

.questCardObjective {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: 70%;
    border: black 2px solid;
    border-radius: 8px;
    padding: 0.5em;
    /* margin-right: 7em; */
    background-color: #ffab92;
}

.dateToCompleteBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12.5%;
    height: 70%;
    border: black 2px solid;
    border-radius: 8px;
    padding: 0.5em;
    color: red;
    background-color: #ffffcc;
    font-weight: 800;
    /* margin-right: 7em; */
}

.rewardBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 15%;
    height: 70%;
    border: black 2px solid;
    border-radius: 8px;
    padding: 0.5em;
    background-color: #c8e6c9;
}

.questCompleteContainer {
    display: flex;
    border: 2px solid black;
    width: 10em;
    height: 6em;
    background-color: #f3fcff;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.questCompleteCheckbox {
    margin-left: 1em;
    margin-right: 0.5em;
    width: 4em;
    height: 4em;
}

.questRewardImage {
    max-width: 5em;
    max-height: 5em;
    margin-top: 0.5em;
}

.questRewardAmount {
    max-width: 100%;
    font-weight: 800;
    font-style: italic;
}

/* Top Nav CSS Starts Here */

.playerCurrencyContainer {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-evenly;
}

.playerCurrency {
    display: flex;
    align-items: center;
    width: 6em;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0.2em;
}

.topNavCurrencyImage {
    width: 32px;
    height: 32px;
}

.currencyAmountUserInterface {
    font-size: smaller;
    margin-right: 1em;
}

.weaponRollContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.slotModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 200px;
    text-align: center;
  }
  
  #closeSlot {
    color: #050000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  #closeSlot:hover,
  #closeSlot:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .slot-machine {
    display: flex;
    justify-content: center;
  }
  
  .reel {
    border: 1px solid black;
    height: 200px;
    width: 100px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .symbol {
    width: 80px;
    height: 80px;
    background-color: yellow;
    margin: 5px;

  }

  .symbol.spin {
    animation: spin 1s infinite linear;
    animation-fill-mode: forwards;
  }

  /* .reel.spin {
    animation: spin 1s ease-in-out;
    animation-fill-mode: forwards;
  } */

  @keyframes spin {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
  }

  /* @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */

  .symbol.symbol1 {
    /* background-image: url('./images/weapons/MythrilShortsword-2.png'); */
    background-repeat: no-repeat;
    background-position: center center;

    /* Add any additional styling */
  }
  
  .symbol.symbol2 {
    /* background-image: url('./images/weapons/RuneShortSword.png'); */
    background-repeat: no-repeat;
    background-position: center center;

    /* Add any additional styling */
  }
  
  .symbol.symbol3 {
    /* background-image: url('./images/armour/Red Demon Helm.png'); */
    background-repeat: no-repeat;
    background-position: center center;

    /* Add any additional styling */
  }
  